@use "../variables";
.loading-container {
  min-width: 100svw;
  min-height: 100svh;
  position: fixed;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.485);
  top: 0;
  left: 0;
  z-index: 10;
  @include variables.flex;
  cursor: not-allowed;
}

.balls {
  display: flex;
}
.ball {
  width: 13px;
  height: 13px;
  background-color: variables.$theme-color;
  border-radius: 50%;
  margin-left: 10px;
  animation: ball 0.5s infinite alternate;
}

.ball2 {
  animation-delay: 0.1s;
}
.ball3 {
  animation-delay: 0.2s;
}
@keyframes ball {
  to {
    transform: translateY(-10px);
  }
}
