@use "../variables";
.social-icons {
  @media screen and (max-width: 725px) {
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    right: -0rem;
    left: unset;
    width: 5rem;
  }
  position: fixed;
  bottom: 0;
  left: 4rem;
  &-list {
    @media screen and (max-width: 725px) {
      display: flex;
    }
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &-item {
      font-size: variables.$tlarge2;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-in-out;
      &-link {
        padding: 10px;
        color: variables.$lightest-slate;
        outline: 2px dashed transparent;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: variables.$theme-color;
        }
        &:focus {
          outline-color: variables.$theme-color;
          transform: translateY(-4px);
          color: variables.$theme-color;
        }
      }
      &:hover {
        transform: translateY(-4px);
      }
      &:last-child {
        margin-bottom: 3rem;
        @media screen and (max-width: 725px) {
          margin-bottom: 0;
        }
      }
    }
  }
  &::after {
    @media screen and (max-width: 725px) {
      display: none;
    }
    content: "";
    width: 2px;
    height: 5.625rem;
    display: block;
    background-color: variables.$light-slate;
    margin: 0 auto;
  }
}
