@use "../variables";
.experience {
  margin: 15rem auto;
  min-width: 43.75rem;
  min-height: 35rem;
  @media screen and (max-width: 955px) {
    margin-bottom: 26rem;
  }
  .title {
    font-family: var(--font-raleway);
    color: variables.$lightest-slate;
    position: relative;
    h2 {
      margin-bottom: 2rem;
      font-size: variables.$tx2large;
      font-weight: 700;
      &::before {
        counter-increment: title;
        content: "0" counter(title) ".";
        margin-right: 0.5rem;
        color: variables.$theme-color;
      }
      &::after {
        content: "";
        position: absolute;
        top: 20px;
        width: 40%;
        background-color: variables.$lightest-navy;
        height: 2px;
        margin-left: 3rem;
      }
    }
  }
  .container {
    @media screen and (max-width: 955px) {
      display: flex;
      flex-direction: column;
      text-align: justify;
    }
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 1rem;
    .exp-slider {
      @media screen and (max-width: 955px) {
        display: flex;
        margin: 2rem 0;
      }
      position: relative;
      height: max-content;
      .underline {
        @media screen and (max-width: 955px) {
          top: 0;
          height: 3px;
          width: 7rem;
          left: 7rem;
          right: unset;
        }
        background-color: variables.$theme-color;
        position: absolute;
        left: -0.55px;
        top: 0;
        width: 3px;
        height: 2.5rem;
        transition: 0.3s ease-in-out;
        border-radius: 0.2rem;
      }
      &::before {
        @media screen and (max-width: 955px) {
          display: none;
        }
        position: absolute;
        content: "";
        left: 0;
        height: 100%;
        background-color: variables.$lightest-navy;
        width: 1px;
      }
      &-item {
        height: 2.5rem;
        padding: 0 1.5rem;
        display: flex;
        vertical-align: middle;
        cursor: pointer;
        span {
          @include variables.flex;
          color: variables.$slate;
          font-family: var(--font-fira);
        }
        &:hover {
          background-color: variables.$lightest-navy;
          span {
            color: variables.$theme-color;
          }
        }
      }
      &-item-selected {
        span {
          color: variables.$theme-color;
        }
      }
    }
    .exp-details {
      height: 40vh;
      font-family: var(--font-raleway);
      &-position {
        color: variables.$lightest-slate;
        &-company {
          color: variables.$theme-color;
        }
      }
      &-list {
        @media screen and (max-width: 881px) {
          max-width: 70%;
        }
        @media screen and (max-width: 772px) {
          max-width: 65%;
        }
        @media screen and (max-width: 725px) {
          max-width: 99%;
        }
        @media screen and (max-width: 638px) {
          max-width: 91%;
        }
        @media screen and (max-width: 590px) {
          max-width: 75%;
        }
        @media screen and (max-width: 545px) {
          max-width: 65%;
        }
        @media screen and (max-width: 425px) {
          max-width: 65%;
        }
        @media screen and (max-width: 375px) {
          max-width: 57%;
        }
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
        padding-left: 1.4rem;
        &-item {
          @media screen and (max-width: 955px) {
            font-size: 0.9rem;
          }
          @media screen and (max-width: 767px) {
          }
          @media screen and (min-width: 554px) {
          }

          position: relative;
          font-weight: 500;
          color: variables.$slate;
          line-height: 1.5rem;
          &::before {
            content: "◌";
            position: absolute;
            top: 0px;
            left: -20px;
            color: variables.$theme-color;
          }
          & p {
            max-width: 80%;
          }
        }
      }
    }
  }
}
