@use "../variables";
.hero {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 60vh;
  gap: 1rem;
  &-title {
    color: variables.$theme-color;
    font-size: variables.$tsm2;
    font-family: var(--font-fira);
  }
  &-title-large {
    font-size: variables.$tgiant;
    color: variables.$light-slate;
    @media screen and (max-width: 1380px) {
      font-size: 4rem;
    }
    @media screen and (max-width: 1190px) {
      font-size: 3.5rem;
    }
    @media screen and (max-width: 1098px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 1008px) {
      font-size: 2.7rem;
    }
    @media screen and (max-width: 945px) {
      font-size: 2.2rem;
    }
    @media screen and (max-width: 851px) {
      font-size: 2rem;
    }
    @media screen and (max-width: 551px) {
      font-size: 1.85rem;
    }
  }
  &-title-sub {
    color: variables.$lightest-slate;
  }
  &-text {
    color: variables.$slate;
    font-size: variables.$tlarge;
    letter-spacing: 0.07rem;
    font-family: var(--font-raleway);
    font-weight: 600;
    line-height: 1.6rem;
    margin-right: 40%;
    @media screen and (max-width: 1380px) {
      font-size: 1.1rem;
    }
    @media screen and (max-width: 1190px) {
      font-size: 1rem;
      margin-right: 0;
    }
    @media screen and (max-width: 1098px) {
      font-size: 1rem;
      margin-right: 0;
    }
    @media screen and (max-width: 1008px) {
      font-size: 0.9rem;
    }
    @media screen and (max-width: 551px) {
      font-size: 0.8rem;
    }
  }
  &-link {
    display: inline-block;
    position: relative;
    color: variables.$theme-color;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 0.1rem;
      bottom: 0;
      left: 0;
      background-color: variables.$theme-color;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    &:hover,
    &:focus {
      &::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
  &-button {
    margin-top: 2rem;
    .btn {
      font-size: variables.$tlarge;
      font-family: var(--font-raleway);
    }
  }
}
