@use "../variables";
nav {
  min-height: 3.75rem;
  .wrapper {
    position: relative;
    @include variables.between;
    padding: 0 4rem;
    width: 100%;
    transition: 0.3s ease-in-out;
    position: relative;
    .brand {
      z-index: 3;
      a {
        @include variables.flex;
        fill: none;
        margin: 2rem 0;
        height: 4rem;
        width: 4rem;
        transition: 0.3s ease-in-out;
        outline: 2px dashed transparent;
        cursor: pointer;
        &:hover {
          fill: #da64cc37;
        }
        &:focus {
          outline-color: variables.$theme-color;
          fill: #da64cc37;
        }
      }
    }
    .nav-items {
      @media screen and (max-width: 1170px) {
        position: absolute;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100vh;
        background-color: rgba(42, 40, 40, 0.782);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
        transition: 0.6s;
      }
      @media screen and (max-width: 680px) {
        min-width: 100%;
      }
      display: flex;
      gap: 3rem;
      color: variables.$lightest-slate;
      counter-reset: nav-list;
      font-family: var(--font-fira);
      &-list {
        @media screen and (max-width: 1170px) {
          display: flex;
          flex-direction: column;
        }
        display: flex;
        gap: 3rem;
        &-item {
          a {
            outline: 2px dashed transparent;
            color: inherit;
            padding: 10px;
            transition: all 0.3s ease-in-out;
            &::before {
              counter-increment: nav-list;
              content: "0" counter(nav-list) ". ";
              color: variables.$theme-color;
            }
            &:focus {
              outline-color: variables.$theme-color;
            }
            &:hover {
              color: variables.$theme-color;
            }
          }
        }
      }
    }

    .showNav {
      right: 0;
    }
  }
  .blurNav {
    height: 80px;
    position: fixed;
    top: 0;
    transition: all 0.3s ease-in-out;
    z-index: 20;
    background-color: rgba(10, 25, 47, 0.85);
    box-shadow: 0 10px 30px -10px variables.$navy-shadow;
    backdrop-filter: blur(10px);
  }
  .btnContainer {
    z-index: 3;
  }

  .btn {
    background: transparent;
    border-radius: 0.3rem;
    border: 2px solid;
    cursor: pointer;
  }
  .line {
    transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
    transform-origin: center;
  }

  .btn :is(.top, .bottom) {
    y: 45;
  }
  .btn .top {
    rotate: 45deg;
  }
  .btn .middle {
    opacity: 0;
  }
  .btn .bottom {
    rotate: -45deg;
  }
  .btnContainer {
    display: none;
    @media screen and (max-width: 1170px) {
      display: block;
    }
    @media screen and (max-width: 680px) {
      transform: scale(0.8);
    }
  }
}
