@use "../variables";
.email {
  position: fixed;
  bottom: 0;
  right: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  &-link {
    writing-mode: vertical-rl;
    color: variables.$light-slate;
    font-family: var(--font-fira);
    letter-spacing: 0.1rem;
    padding: 0.7rem;
    outline: 2px dashed transparent;
    transition: 0.3s ease-in-out;
    &:hover {
      color: variables.$theme-color;
    }
    &:focus {
      outline-color: variables.$theme-color;
      transform: translateY(-4px);
      color: variables.$theme-color;
    }
  }
  &::after {
    content: "";
    width: 2px;
    height: 5.625rem;
    display: block;
    background-color: variables.$light-slate;
    margin: 0 auto;
  }
}
