@charset "UTF-8";
html {
  scroll-behavior: smooth !important;
}

body {
  background-color: #0a192f;
}

.link {
  display: inline-block;
  position: relative;
  color: #9d00ff;
}
.link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.1rem;
  bottom: 0;
  left: 0;
  background-color: #9d00ff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.link:hover::after, .link:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#logo {
  color: #9d00ff;
  height: 4rem;
}

nav {
  min-height: 3.75rem;
}
nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  width: 100%;
  transition: 0.3s ease-in-out;
  position: relative;
}
nav .wrapper .brand a {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: none;
  margin: 2rem 0;
  transition: 0.3s ease-in-out;
  outline: 2px dashed transparent;
  cursor: pointer;
}
nav .wrapper .brand a:hover {
  fill: rgba(218, 100, 204, 0.2156862745);
}
nav .wrapper .brand a:focus {
  outline-color: #9d00ff;
  fill: rgba(218, 100, 204, 0.2156862745);
}
nav .wrapper .nav-items {
  display: flex;
  gap: 3rem;
  color: #a8b2d1;
  counter-reset: nav-list;
  font-family: var(--font-fira);
}
nav .wrapper .nav-items-list {
  display: flex;
  gap: 3rem;
}
nav .wrapper .nav-items-list-item a {
  outline: 2px dashed transparent;
  color: inherit;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
nav .wrapper .nav-items-list-item a::before {
  counter-increment: nav-list;
  content: "0" counter(nav-list) ". ";
  color: #9d00ff;
}
nav .wrapper .nav-items-list-item a:focus {
  outline-color: #9d00ff;
}
nav .wrapper .nav-items-list-item a:hover {
  color: #9d00ff;
}

.btn {
  color: #9d00ff;
  padding: 0.75rem 1rem;
  background-color: transparent;
  border: 1px solid #9d00ff;
  border-radius: 4px;
  font-size: 13px;
}
.btn:hover, .btn:focus {
  background-color: #233554;
}

.social-icons {
  position: fixed;
  bottom: 0;
  left: 4rem;
}
.social-icons-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.social-icons-list-item {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.social-icons-list-item-link {
  padding: 10px;
  color: #a8b2d1;
  outline: 2px dashed transparent;
  transition: all 0.3s ease-in-out;
}
.social-icons-list-item-link:hover {
  color: #9d00ff;
}
.social-icons-list-item-link:focus {
  outline-color: #9d00ff;
  transform: translateY(-4px);
  color: #9d00ff;
}
.social-icons-list-item:hover {
  transform: translateY(-4px);
}
.social-icons-list-item:last-child {
  margin-bottom: 3rem;
}
.social-icons::after {
  content: "";
  width: 2px;
  height: 5.625rem;
  display: block;
  background-color: #ccd6f6;
  margin: 0 auto;
}

.email {
  position: fixed;
  bottom: 0;
  right: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.email-link {
  writing-mode: vertical-rl;
  color: #ccd6f6;
  font-family: var(--font-fira);
  letter-spacing: 0.1rem;
  padding: 0.7rem;
  outline: 2px dashed transparent;
  transition: 0.3s ease-in-out;
}
.email-link:hover {
  color: #9d00ff;
}
.email-link:focus {
  outline-color: #9d00ff;
  transform: translateY(-4px);
  color: #9d00ff;
}
.email::after {
  content: "";
  width: 2px;
  height: 5.625rem;
  display: block;
  background-color: #ccd6f6;
  margin: 0 auto;
}

.hero {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 60vh;
  gap: 1rem;
}
.hero-title {
  color: #9d00ff;
  font-size: 15px;
  font-family: var(--font-fira);
}
.hero-title-large {
  font-size: clamp(40px, 8vw, 80px);
  color: #ccd6f6;
}
.hero-title-sub {
  color: #a8b2d1;
}
.hero-text {
  color: #8892b0;
  font-size: 18px;
  letter-spacing: 0.07rem;
  font-family: var(--font-raleway);
  font-weight: 600;
  line-height: 1.6rem;
  margin-right: 40%;
}
.hero-link {
  display: inline-block;
  position: relative;
  color: #9d00ff;
}
.hero-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.1rem;
  bottom: 0;
  left: 0;
  background-color: #9d00ff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hero-link:hover::after, .hero-link:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hero-button {
  margin-top: 2rem;
}
.hero-button .btn {
  font-size: 18px;
  font-family: var(--font-raleway);
}

main {
  margin: 0 15rem;
}

.about {
  margin: 15rem 0;
}
.about .title {
  font-family: var(--font-raleway);
  color: #a8b2d1;
  position: relative;
}
.about .title h2 {
  margin-bottom: 2rem;
  font-size: 32px;
  font-weight: 700;
}
.about .title h2::before {
  counter-increment: title;
  content: "0" counter(title) ".";
  margin-right: 0.5rem;
  color: #9d00ff;
}
.about .title h2::after {
  content: "";
  position: absolute;
  top: 20px;
  width: 300px;
  background-color: #233554;
  height: 2px;
  margin-left: 3rem;
}
.about-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 1rem;
}
.about-grid-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about-grid-info-text {
  color: #8892b0;
  margin-right: 10%;
  font-size: 18px;
  line-height: 1.6rem;
  font-weight: 500;
  font-family: var(--font-raleway);
}
.about-grid-info-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 3rem;
}
.about-grid-info-list-item {
  position: relative;
  font-size: 16px;
  font-family: var(--font-raleway);
  line-height: 1.7rem;
  font-weight: 500;
  color: #8892b0;
}
.about-grid-info-list-item::before {
  content: "◌";
  position: absolute;
  top: 0px;
  left: -20px;
  color: #9d00ff;
}
.about-grid-photo {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
}
.about-grid-photo:hover .overlay {
  background-color: rgba(0, 0, 0, 0.151);
}
.about-grid-photo:hover .overlay-border {
  top: 0.5rem;
  left: 0.5rem;
}
.about-grid-photo .overlay {
  z-index: 1;
  position: absolute;
  height: 556px;
  width: 345px;
  background-color: rgba(157, 0, 255, 0.3019607843);
  border-radius: 0.2rem;
  transition: 0.3s ease-in-out;
}
.about-grid-photo .overlay-border {
  z-index: -3;
  height: 100%;
  width: 100%;
  position: absolute;
  border: 2px solid #9d00ff;
  top: 1rem;
  left: 1rem;
  border-radius: 0.3rem;
  transition: 0.3s ease-in-out;
}
.about-grid-photo-container {
  position: relative;
  height: 556px;
  width: 345px;
}
.about-grid-photo-container img {
  z-index: 0;
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
  border-radius: 0.3rem;
}

.experience {
  margin: 15rem auto;
  min-width: 43.75rem;
}
.experience .title {
  font-family: var(--font-raleway);
  color: #a8b2d1;
  position: relative;
}
.experience .title h2 {
  margin-bottom: 2rem;
  font-size: 32px;
  font-weight: 700;
}
.experience .title h2::before {
  counter-increment: title;
  content: "0" counter(title) ".";
  margin-right: 0.5rem;
  color: #9d00ff;
}
.experience .title h2::after {
  content: "";
  position: absolute;
  top: 20px;
  width: 300px;
  background-color: #233554;
  height: 2px;
  margin-left: 3rem;
}
.experience .container {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 1rem;
}
.experience .container .exp-slider {
  position: relative;
  height: -moz-max-content;
  height: max-content;
}
.experience .container .exp-slider .underline {
  background-color: #9d00ff;
  position: absolute;
  left: -0.5px;
  top: 0;
  width: 3px;
  height: 2.5rem;
  transition: 0.3s ease-in-out;
  border-radius: 0.2rem;
}
.experience .container .exp-slider::before {
  position: absolute;
  content: "";
  left: 0;
  height: 100%;
  background-color: #233554;
  width: 1px;
}
.experience .container .exp-slider-item {
  height: 2.5rem;
  padding: 0 1.5rem;
  display: flex;
  vertical-align: middle;
  cursor: pointer;
  width: 100%;
}
.experience .container .exp-slider-item span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8892b0;
  font-family: var(--font-fira);
}
.experience .container .exp-slider-item:hover {
  background-color: #233554;
}
.experience .container .exp-slider-item:hover span {
  color: #9d00ff;
}
.experience .container .exp-slider-item-selected span {
  color: #9d00ff;
}
.experience .container .exp-details {
  height: 40vh;
  font-family: var(--font-raleway);
}
.experience .container .exp-details-position {
  color: #a8b2d1;
}
.experience .container .exp-details-position-company {
  color: #9d00ff;
}
.experience .container .exp-details-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  padding-left: 1.4rem;
  margin-right: 20%;
}
.experience .container .exp-details-list-item {
  position: relative;
  font-weight: 500;
  color: #8892b0;
  line-height: 1.5rem;
}
.experience .container .exp-details-list-item::before {
  content: "◌";
  position: absolute;
  top: 0px;
  left: -20px;
  color: #9d00ff;
}

.projects {
  margin: 15rem 0;
}
.projects .title {
  font-family: var(--font-raleway);
  color: #a8b2d1;
  position: relative;
}
.projects .title h2 {
  margin-bottom: 2rem;
  font-size: 32px;
  font-weight: 700;
}
.projects .title h2::before {
  counter-increment: title;
  content: "0" counter(title) ".";
  margin-right: 0.5rem;
  color: #9d00ff;
}
.projects .title h2::after {
  content: "";
  position: absolute;
  top: 20px;
  width: 300px;
  background-color: #233554;
  height: 2px;
  margin-left: 3rem;
}
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.projects-container .project {
  position: relative;
  display: flex;
  justify-content: flex-end;
  min-height: 400px;
}
.projects-container .project-image {
  border-radius: 0.2rem;
  position: absolute;
  top: 0;
  left: 0;
}
.projects-container .project-image-container {
  position: relative;
  width: 600px;
  height: 400px;
}
.projects-container .project-image:hover .project-image-overlay {
  background-color: rgba(0, 0, 0, 0.151);
}
.projects-container .project-image:hover img {
  filter: none;
}
.projects-container .project-image-overlay {
  transition: 0.3s ease-in-out;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(157, 0, 255, 0.3019607843);
}
.projects-container .project-image img {
  z-index: 0;
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
}
.projects-container .project-info {
  z-index: 5;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}
.projects-container .project-info-overline {
  color: #9d00ff;
  font-family: var(--font-fira);
}
.projects-container .project-info-title {
  width: -moz-max-content;
  width: max-content;
  color: #a8b2d1;
  font-size: 25px;
  font-family: var(--font-raleway);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.projects-container .project-info-title:hover {
  color: #9d00ff;
}
.projects-container .project-info-description {
  background-color: #233554;
  border-radius: 0.2rem;
}
.projects-container .project-info-description p {
  color: #a8b2d1;
  font-family: var(--font-raleway);
  padding: 2rem;
  text-align: justify;
}
.projects-container .project-info-tech-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.projects-container .project-info-tech-list-item {
  color: #a8b2d1;
  font-family: var(--font-raleway);
  background-color: #233554;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  font-size: 13px;
}
.projects-container .project-info-links {
  font-size: 22px;
  display: flex;
  gap: 1rem;
}
.projects-container .project-info-links-item {
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-container .project-info-links-item-link {
  padding: 10px;
  color: #a8b2d1;
  transition: 0.3s ease-in-out;
  outline: 2px dashed transparent;
}
.projects-container .project-info-links-item-link:hover {
  color: #9d00ff;
}
.projects-container .project-info-links-item-link:focus {
  outline-color: #9d00ff;
  transform: translateY(-4px);
  color: #9d00ff;
}
.projects-container .project:nth-of-type(even) {
  justify-content: flex-start;
}
.projects-container .project:nth-of-type(even) .project-image {
  right: 0;
  left: initial;
}
.projects-container .project:nth-of-type(even) .project-info {
  align-items: flex-start;
}
.projects-container .project:nth-of-type(even) .project-info-description p {
  text-align: start;
}

.contact {
  margin: 15rem auto;
}
.contact-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-c-title {
  color: #9d00ff;
  font-size: 16px;
  font-family: var(--font-fira);
  font-weight: 300;
}
.contact-c-title::before {
  counter-increment: title;
  content: "0" counter(title) ".";
  margin-right: 0.5rem;
  color: #9d00ff;
}
.contact-c-sub-title {
  font-size: clamp(40px, 8vw, 80px);
  color: #ccd6f6;
  font-family: var(--font-raleway);
}
.contact-c-text {
  color: #8892b0;
  font-size: 18px;
  text-align: center;
  font-family: var(--font-raleway);
  font-weight: 600;
  letter-spacing: 0.07rem;
  line-height: 1.6rem;
}
.contact form {
  max-width: 60%;
  margin: 3rem auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 100px);
  grid-template-areas: "firstName lastName" "email phone" "message message" "btn btn";
  /* touts les inputs qui n'ont pas de focus et qui'ils ont du text inside */
}
.contact form .ic1 {
  grid-area: firstName;
}
.contact form .ic2 {
  grid-area: lastName;
}
.contact form .ic3 {
  grid-area: email;
}
.contact form .ic4 {
  grid-area: phone;
}
.contact form .ic5 {
  grid-area: message;
  min-height: 13rem;
}
.contact form .ic6 {
  grid-area: btn;
  margin-top: 13rem;
}
.contact form #btn {
  margin-top: 10rem;
}
.contact form .errorMessage {
  text-align: center;
  margin: 1rem auto;
  min-width: 90%;
  background-color: rgb(213, 98, 98);
  height: 4rem;
  margin-top: -3.05rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: clamp(1.3rem, 2vw, 1.5rem);
  letter-spacing: 1px;
}
.contact form .inputContainer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: grid;
}
.contact form .ic6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact form .label {
  position: absolute;
  top: 2rem;
  left: 20px;
  color: rgba(169, 161, 161, 0);
  left: 1rem;
  transition: 0.3s;
  font-size: 1rem;
}
.contact form .input {
  resize: none;
  margin: 1rem 0;
  padding: 1rem 1rem;
  border: 1px solid #9d00ff;
  min-width: 100%;
  border-radius: 4px;
  outline: 0;
  background-color: transparent;
  border-radius: 1rem;
  color: #6e07f3;
  font-size: clamp(1.1rem, 1.5vw, 1.2rem);
}
.contact form input {
  max-height: 3rem;
}
.contact form .cut {
  position: absolute;
  width: 3rem;
  height: 0.5rem;
  top: 0.8rem;
  left: 0.6rem;
  display: none;
}
.contact form .short {
  background-color: white;
}
.contact form .cuttel {
  width: 5.2rem;
}
.contact form .cutpre {
  width: 4.2rem;
}
.contact form .cutmes {
  width: 4.4rem;
}
.contact form .input:focus-within {
  border-color: #439fee;
}
.contact form .input:focus ~ .label {
  transform: translateX(0rem) translateY(-1.6rem);
  font-size: 0.9rem;
  color: #439fee;
}
.contact form .input:focus::-moz-placeholder {
  color: transparent;
  transform: 0.1s;
}
.contact form .input:focus::placeholder {
  color: transparent;
  transform: 0.1s;
}
.contact form .input:not(:focus):not(:-moz-placeholder-shown) ~ .label {
  /*  color: transparent; */
  color: rgba(93, 92, 92, 0);
}
.contact form .input:not(:focus):not(:placeholder-shown) ~ .label {
  /*  color: transparent; */
  color: rgba(93, 92, 92, 0);
}
.contact form .input:focus ~ .cut {
  display: block;
}
.contact form .success {
  background-color: green;
  transition: all 0.3s;
}
.contact form .failed {
  background-color: red;
  transition: all 0.4s;
}/*# sourceMappingURL=index.css.map */