body {
  background-color: #0a192f;
}

#logo {
  color: #9d00ff;
  height: 4rem;
}

nav {
  min-height: 3.75rem;
}
nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  width: 100%;
  transition: 0.3s ease-in-out;
  position: relative;
}
nav .wrapper .brand a {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: none;
  margin: 2rem 0;
  transition: 0.3s ease-in-out;
  outline: 2px dashed transparent;
  cursor: pointer;
}
nav .wrapper .brand a:hover {
  fill: rgba(218, 100, 204, 0.2156862745);
}
nav .wrapper .brand a:focus {
  outline-color: #9d00ff;
  fill: rgba(218, 100, 204, 0.2156862745);
}
nav .wrapper .nav-items {
  display: flex;
  gap: 3rem;
  color: #a8b2d1;
  counter-reset: nav-list;
  font-family: var(--font-fira);
}
nav .wrapper .nav-items-list {
  display: flex;
  gap: 3rem;
}
nav .wrapper .nav-items-list-item a {
  outline: 2px dashed transparent;
  color: inherit;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
nav .wrapper .nav-items-list-item a::before {
  counter-increment: nav-list;
  content: "0" counter(nav-list) ". ";
  color: #9d00ff;
}
nav .wrapper .nav-items-list-item a:focus {
  outline-color: #9d00ff;
}
nav .wrapper .nav-items-list-item a:hover {
  color: #9d00ff;
}

.btn {
  color: #9d00ff;
  padding: 0.75rem 1rem;
  background-color: transparent;
  border: 1px solid #9d00ff;
  border-radius: 4px;
  font-size: 13px;
}
.btn:hover, .btn:focus {
  background-color: #233554;
}

.social-icons {
  position: fixed;
  bottom: 0;
  left: 4rem;
}
.social-icons-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.social-icons-list-item {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.social-icons-list-item-link {
  padding: 10px;
  color: #a8b2d1;
  outline: 2px dashed transparent;
  transition: all 0.3s ease-in-out;
}
.social-icons-list-item-link:hover {
  color: #9d00ff;
}
.social-icons-list-item-link:focus {
  outline-color: #9d00ff;
  transform: translateY(-4px);
  color: #9d00ff;
}
.social-icons-list-item:hover {
  transform: translateY(-4px);
}
.social-icons-list-item:last-child {
  margin-bottom: 3rem;
}
.social-icons::after {
  content: "";
  width: 2px;
  height: 5.625rem;
  display: block;
  background-color: #ccd6f6;
  margin: 0 auto;
}

.email {
  position: fixed;
  bottom: 0;
  right: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.email-link {
  writing-mode: vertical-rl;
  color: #ccd6f6;
  font-family: var(--font-fira);
  letter-spacing: 0.1rem;
  padding: 0.7rem;
  outline: 2px dashed transparent;
  transition: 0.3s ease-in-out;
}
.email-link:hover {
  color: #9d00ff;
}
.email-link:focus {
  outline-color: #9d00ff;
  transform: translateY(-4px);
  color: #9d00ff;
}
.email::after {
  content: "";
  width: 2px;
  height: 5.625rem;
  display: block;
  background-color: #ccd6f6;
  margin: 0 auto;
}

.hero {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 60vh;
  gap: 1rem;
}
.hero-title {
  color: #9d00ff;
  font-size: 15px;
  font-family: var(--font-fira);
}
.hero-title-large {
  font-size: clamp(40px, 8vw, 80px);
  color: #ccd6f6;
}
.hero-title-sub {
  color: #a8b2d1;
}
.hero-text {
  color: #8892b0;
  font-size: 18px;
  letter-spacing: 0.07rem;
  font-family: var(--font-raleway);
  font-weight: 600;
  line-height: 1.6rem;
  margin-right: 40%;
}
.hero-link {
  display: inline-block;
  position: relative;
  color: #9d00ff;
}
.hero-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.1rem;
  bottom: 0;
  left: 0;
  background-color: #9d00ff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hero-link:hover::after, .hero-link:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hero-button {
  margin-top: 2rem;
}
.hero-button .btn {
  font-size: 18px;
  font-family: var(--font-raleway);
}

main {
  margin: 0 15rem;
}/*# sourceMappingURL=index.css.map */