@charset "UTF-8";
html {
  scroll-behavior: smooth !important;
}

body {
  background-color: #000000;
}

.link {
  display: inline-block;
  position: relative;
  color: #f86f03;
}
.link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.1rem;
  bottom: 0;
  left: 0;
  background-color: #f86f03;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.link:hover::after, .link:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}
::-webkit-scrollbar-thumb {
  background-color: #495670;
  border: 3px solid #000000;
  border-radius: 10px;
}

#logo {
  color: #f86f03;
  height: 100%;
  width: 100%;
  fill: none;
}

nav {
  min-height: 3.75rem;
}
nav .wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  width: 100%;
  transition: 0.3s ease-in-out;
  position: relative;
}
nav .wrapper .brand {
  z-index: 3;
}
nav .wrapper .brand a {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: none;
  margin: 2rem 0;
  height: 4rem;
  width: 4rem;
  transition: 0.3s ease-in-out;
  outline: 2px dashed transparent;
  cursor: pointer;
}
nav .wrapper .brand a:hover {
  fill: rgba(218, 100, 204, 0.2156862745);
}
nav .wrapper .brand a:focus {
  outline-color: #f86f03;
  fill: rgba(218, 100, 204, 0.2156862745);
}
nav .wrapper .nav-items {
  display: flex;
  gap: 3rem;
  color: #a8b2d1;
  counter-reset: nav-list;
  font-family: var(--font-fira);
}
@media screen and (max-width: 1170px) {
  nav .wrapper .nav-items {
    position: absolute;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    background-color: rgba(42, 40, 40, 0.782);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: 0.6s;
  }
}
@media screen and (max-width: 680px) {
  nav .wrapper .nav-items {
    min-width: 100%;
  }
}
nav .wrapper .nav-items-list {
  display: flex;
  gap: 3rem;
}
@media screen and (max-width: 1170px) {
  nav .wrapper .nav-items-list {
    display: flex;
    flex-direction: column;
  }
}
nav .wrapper .nav-items-list-item a {
  outline: 2px dashed transparent;
  color: inherit;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
nav .wrapper .nav-items-list-item a::before {
  counter-increment: nav-list;
  content: "0" counter(nav-list) ". ";
  color: #f86f03;
}
nav .wrapper .nav-items-list-item a:focus {
  outline-color: #f86f03;
}
nav .wrapper .nav-items-list-item a:hover {
  color: #f86f03;
}
nav .wrapper .showNav {
  right: 0;
}
nav .blurNav {
  height: 80px;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-in-out;
  z-index: 20;
  box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
nav .btnContainer {
  z-index: 3;
}
nav .btn {
  background: transparent;
  border-radius: 0.3rem;
  border: 2px solid;
  cursor: pointer;
}
nav .line {
  transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
  transform-origin: center;
}
nav .btn :is(.top, .bottom) {
  y: 45;
}
nav .btn .top {
  rotate: 45deg;
}
nav .btn .middle {
  opacity: 0;
}
nav .btn .bottom {
  rotate: -45deg;
}
nav .btnContainer {
  display: none;
}
@media screen and (max-width: 1170px) {
  nav .btnContainer {
    display: block;
  }
}
@media screen and (max-width: 680px) {
  nav .btnContainer {
    transform: scale(0.8);
  }
}

.btn {
  color: #f86f03;
  padding: 0.75rem 1rem;
  background-color: transparent;
  border: 1px solid #f86f03;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
}
.btn:hover, .btn:focus {
  background-color: #171718;
}

.social-icons {
  position: fixed;
  bottom: 0;
  left: 4rem;
}
@media screen and (max-width: 725px) {
  .social-icons {
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    right: 0rem;
    left: unset;
    width: 5rem;
  }
}
@media screen and (max-width: 425px) {
  .social-icons {
    position: absolute;
    bottom: 2rem;
    right: 50%;
    top: unset;
    transform: translate(-50%);
  }
}
.social-icons-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media screen and (max-width: 725px) {
  .social-icons-list {
    display: flex;
  }
}
@media screen and (max-width: 425px) {
  .social-icons-list {
    display: flex;
    flex-direction: row;
  }
}
.social-icons-list-item {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.social-icons-list-item-link {
  padding: 10px;
  color: #a8b2d1;
  outline: 2px dashed transparent;
  transition: all 0.3s ease-in-out;
}
.social-icons-list-item-link:hover {
  color: #f86f03;
}
.social-icons-list-item-link:focus {
  outline-color: #f86f03;
  transform: translateY(-4px);
  color: #f86f03;
}
.social-icons-list-item:hover {
  transform: translateY(-4px);
}
.social-icons-list-item:last-child {
  margin-bottom: 3rem;
}
@media screen and (max-width: 725px) {
  .social-icons-list-item:last-child {
    margin-bottom: 0;
  }
}
.social-icons::after {
  content: "";
  width: 2px;
  height: 5.625rem;
  display: block;
  background-color: #ccd6f6;
  margin: 0 auto;
}
@media screen and (max-width: 725px) {
  .social-icons::after {
    display: none;
  }
}

.email {
  position: fixed;
  bottom: 0;
  right: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (max-width: 725px) {
  .email {
    display: none;
  }
}
.email-link {
  writing-mode: vertical-rl;
  color: #ccd6f6;
  font-family: var(--font-fira);
  letter-spacing: 0.1rem;
  padding: 0.7rem;
  outline: 2px dashed transparent;
  transition: 0.3s ease-in-out;
}
.email-link:hover {
  color: #f86f03;
}
.email-link:focus {
  outline-color: #f86f03;
  transform: translateY(-4px);
  color: #f86f03;
}
.email::after {
  content: "";
  width: 2px;
  height: 5.625rem;
  display: block;
  background-color: #ccd6f6;
  margin: 0 auto;
}

.hero {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 60vh;
  gap: 1rem;
}
.hero-title {
  color: #f86f03;
  font-size: 15px;
  font-family: var(--font-fira);
}
.hero-title-large {
  font-size: clamp(40px, 7vw, 80px);
  color: #ccd6f6;
}
@media screen and (max-width: 1380px) {
  .hero-title-large {
    font-size: 4rem;
  }
}
@media screen and (max-width: 1190px) {
  .hero-title-large {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 1098px) {
  .hero-title-large {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1008px) {
  .hero-title-large {
    font-size: 2.7rem;
  }
}
@media screen and (max-width: 945px) {
  .hero-title-large {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 851px) {
  .hero-title-large {
    font-size: 2rem;
  }
}
@media screen and (max-width: 551px) {
  .hero-title-large {
    font-size: 1.85rem;
  }
}
.hero-title-sub {
  color: #a8b2d1;
}
.hero-text {
  color: #8892b0;
  font-size: 18px;
  letter-spacing: 0.07rem;
  font-family: var(--font-raleway);
  font-weight: 600;
  line-height: 1.6rem;
  margin-right: 40%;
}
@media screen and (max-width: 1380px) {
  .hero-text {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 1190px) {
  .hero-text {
    font-size: 1rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 1098px) {
  .hero-text {
    font-size: 1rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 1008px) {
  .hero-text {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 551px) {
  .hero-text {
    font-size: 0.8rem;
  }
}
.hero-link {
  display: inline-block;
  position: relative;
  color: #f86f03;
}
.hero-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.1rem;
  bottom: 0;
  left: 0;
  background-color: #f86f03;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hero-link:hover::after, .hero-link:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hero-button {
  margin-top: 2rem;
}
.hero-button .btn {
  font-size: 18px;
  font-family: var(--font-raleway);
}

main {
  margin: 0 14rem;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1412px) {
  main {
    margin: 0 13rem;
  }
}
@media screen and (max-width: 725px) {
  main {
    margin: 0 4rem;
  }
}
@media screen and (max-width: 425px) {
  main {
    margin: 0 1.3rem;
  }
}

.blur {
  filter: blur(10px);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.about {
  margin: 15rem 0;
}
.about .title {
  font-family: var(--font-raleway);
  color: #a8b2d1;
  position: relative;
}
.about .title h2 {
  margin-bottom: 2rem;
  font-size: 32px;
  font-weight: 700;
}
@media screen and (max-width: 425px) {
  .about .title h2 {
    font-size: 1.7rem;
  }
}
.about .title h2::before {
  counter-increment: title;
  content: "0" counter(title) ".";
  margin-right: 0.5rem;
  color: #f86f03;
}
.about .title h2::after {
  content: "";
  position: absolute;
  top: 20px;
  width: 300px;
  background-color: #171718;
  height: 2px;
  margin-left: 3rem;
}
@media screen and (max-width: 425px) {
  .about .title h2::after {
    display: none;
  }
}
.about-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 1rem;
}
@media screen and (max-width: 1180px) {
  .about-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 40rem 1fr;
    grid-template-areas: "img" "text";
  }
  .about-grid .about-grid-photo {
    grid-area: img;
    margin: 0 auto;
  }
  .about-grid .about-grid-info {
    grid-area: text;
    text-align: justify;
  }
}
@media screen and (max-width: 425px) {
  .about-grid {
    grid-template-rows: 3rem 1fr;
  }
}
.about-grid-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about-grid-info-text {
  color: #8892b0;
  margin-right: 10%;
  font-size: 18px;
  line-height: 1.6rem;
  font-weight: 500;
  font-family: var(--font-raleway);
}
@media screen and (max-width: 904px) {
  .about-grid-info-text {
    font-size: 1rem;
    margin-right: 0;
  }
}
.about-grid-info-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 3rem;
}
@media screen and (max-width: 904px) {
  .about-grid-info-list {
    padding: 0 0;
    margin-left: 1rem;
  }
}
@media screen and (max-width: 795px) {
  .about-grid-info-list {
    gap: 0.5rem;
  }
}
.about-grid-info-list-item {
  position: relative;
  font-size: 16px;
  font-family: var(--font-raleway);
  line-height: 1.7rem;
  font-weight: 500;
  color: #8892b0;
}
@media screen and (max-width: 795px) {
  .about-grid-info-list-item {
    margin: 0.3rem;
  }
}
.about-grid-info-list-item::before {
  content: "◌";
  position: absolute;
  top: 0px;
  left: -20px;
  color: #f86f03;
}
.about-grid-photo {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
}
.about-grid-photo:hover .overlay {
  background-color: rgba(0, 0, 0, 0.151);
}
.about-grid-photo:hover .overlay-border {
  top: 0.5rem;
  left: 0.5rem;
}
.about-grid-photo .overlay {
  z-index: 1;
  position: absolute;
  height: 556px;
  width: 345px;
  background-color: rgba(157, 0, 255, 0.3019607843);
  border-radius: 0.2rem;
  transition: 0.3s ease-in-out;
}
.about-grid-photo .overlay-border {
  z-index: -3;
  height: 100%;
  width: 100%;
  position: absolute;
  border: 2px solid #f86f03;
  top: 1rem;
  left: 1rem;
  border-radius: 0.3rem;
  transition: 0.3s ease-in-out;
}
.about-grid-photo-container {
  position: relative;
  height: 556px;
  width: 345px;
}
@media screen and (max-width: 375px) {
  .about-grid-photo-container {
    height: 450px;
    width: 270px;
  }
}
.about-grid-photo-container img {
  z-index: 0;
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
  border-radius: 0.3rem;
}

.experience {
  margin: 15rem auto;
  min-width: 43.75rem;
  min-height: 35rem;
}
@media screen and (max-width: 955px) {
  .experience {
    margin-bottom: 26rem;
  }
}
.experience .title {
  font-family: var(--font-raleway);
  color: #a8b2d1;
  position: relative;
}
.experience .title h2 {
  margin-bottom: 2rem;
  font-size: 32px;
  font-weight: 700;
}
.experience .title h2::before {
  counter-increment: title;
  content: "0" counter(title) ".";
  margin-right: 0.5rem;
  color: #f86f03;
}
.experience .title h2::after {
  content: "";
  position: absolute;
  top: 20px;
  width: 40%;
  background-color: #171718;
  height: 2px;
  margin-left: 3rem;
}
.experience .container {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 1rem;
}
@media screen and (max-width: 955px) {
  .experience .container {
    display: flex;
    flex-direction: column;
    text-align: justify;
  }
}
.experience .container .exp-slider {
  position: relative;
  height: -moz-max-content;
  height: max-content;
}
@media screen and (max-width: 955px) {
  .experience .container .exp-slider {
    display: flex;
    margin: 2rem 0;
  }
}
.experience .container .exp-slider .underline {
  background-color: #f86f03;
  position: absolute;
  left: -0.55px;
  top: 0;
  width: 3px;
  height: 2.5rem;
  transition: 0.3s ease-in-out;
  border-radius: 0.2rem;
}
@media screen and (max-width: 955px) {
  .experience .container .exp-slider .underline {
    top: 0;
    height: 3px;
    width: 7rem;
    left: 7rem;
    right: unset;
  }
}
.experience .container .exp-slider::before {
  position: absolute;
  content: "";
  left: 0;
  height: 100%;
  background-color: #171718;
  width: 1px;
}
@media screen and (max-width: 955px) {
  .experience .container .exp-slider::before {
    display: none;
  }
}
.experience .container .exp-slider-item {
  height: 2.5rem;
  padding: 0 1.5rem;
  display: flex;
  vertical-align: middle;
  cursor: pointer;
}
.experience .container .exp-slider-item span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8892b0;
  font-family: var(--font-fira);
}
.experience .container .exp-slider-item:hover {
  background-color: #171718;
}
.experience .container .exp-slider-item:hover span {
  color: #f86f03;
}
.experience .container .exp-slider-item-selected span {
  color: #f86f03;
}
.experience .container .exp-details {
  height: 40vh;
  font-family: var(--font-raleway);
}
.experience .container .exp-details-position {
  color: #a8b2d1;
}
.experience .container .exp-details-position-company {
  color: #f86f03;
}
.experience .container .exp-details-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  padding-left: 1.4rem;
}
@media screen and (max-width: 881px) {
  .experience .container .exp-details-list {
    max-width: 70%;
  }
}
@media screen and (max-width: 772px) {
  .experience .container .exp-details-list {
    max-width: 65%;
  }
}
@media screen and (max-width: 725px) {
  .experience .container .exp-details-list {
    max-width: 99%;
  }
}
@media screen and (max-width: 638px) {
  .experience .container .exp-details-list {
    max-width: 91%;
  }
}
@media screen and (max-width: 590px) {
  .experience .container .exp-details-list {
    max-width: 75%;
  }
}
@media screen and (max-width: 545px) {
  .experience .container .exp-details-list {
    max-width: 65%;
  }
}
@media screen and (max-width: 425px) {
  .experience .container .exp-details-list {
    max-width: 65%;
  }
}
@media screen and (max-width: 375px) {
  .experience .container .exp-details-list {
    max-width: 57%;
  }
}
.experience .container .exp-details-list-item {
  position: relative;
  font-weight: 500;
  color: #8892b0;
  line-height: 1.5rem;
}
@media screen and (max-width: 955px) {
  .experience .container .exp-details-list-item {
    font-size: 0.9rem;
  }
}
.experience .container .exp-details-list-item::before {
  content: "◌";
  position: absolute;
  top: 0px;
  left: -20px;
  color: #f86f03;
}
.experience .container .exp-details-list-item p {
  max-width: 80%;
}

.projects {
  margin: 15rem 0;
}
.projects .title {
  font-family: var(--font-raleway);
  color: #a8b2d1;
  position: relative;
}
.projects .title h2 {
  margin-bottom: 2rem;
  font-size: 32px;
  font-weight: 700;
}
.projects .title h2::before {
  counter-increment: title;
  content: "0" counter(title) ".";
  margin-right: 0.5rem;
  color: #f86f03;
}
.projects .title h2::after {
  content: "";
  position: absolute;
  top: 20px;
  width: 300px;
  background-color: #171718;
  height: 2px;
  margin-left: 3rem;
}
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.projects-container .project {
  position: relative;
  display: flex;
  justify-content: flex-end;
  min-height: 400px;
}
@media screen and (max-width: 1180px) {
  .projects-container .project {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media screen and (max-width: 803px) {
  .projects-container .project {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.projects-container .project-image {
  border-radius: 0.2rem;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1180px) {
  .projects-container .project-image {
    position: unset;
  }
}
.projects-container .project-image-container {
  position: relative;
  width: 700px;
  height: 400px;
}
@media screen and (max-width: 1115px) {
  .projects-container .project-image-container {
    width: 500px;
    height: 300px;
  }
}
@media screen and (max-width: 930px) {
  .projects-container .project-image-container {
    width: 400px;
    height: 250px;
  }
}
@media screen and (max-width: 425px) {
  .projects-container .project-image-container {
    width: 350px;
    height: 250px;
  }
}
.projects-container .project-image-container-img {
  -o-object-position: top left;
     object-position: top left;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
.projects-container .project-image:hover .project-image-overlay {
  background-color: rgba(0, 0, 0, 0.151);
}
.projects-container .project-image:hover img {
  filter: none;
}
.projects-container .project-image-overlay {
  transition: 0.3s ease-in-out;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(157, 0, 255, 0.3019607843);
}
.projects-container .project-image img {
  z-index: 0;
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
}
.projects-container .project-info {
  z-index: 5;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}
.projects-container .project-info-overline {
  color: #f86f03;
  font-family: var(--font-fira);
}
.projects-container .project-info-title {
  width: -moz-max-content;
  width: max-content;
  color: #a8b2d1;
  font-size: 25px;
  font-family: var(--font-raleway);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.projects-container .project-info-title:hover {
  color: #f86f03;
}
.projects-container .project-info-description {
  background-color: #171718;
  border-radius: 0.2rem;
}
.projects-container .project-info-description p {
  color: #a8b2d1;
  font-family: var(--font-raleway);
  padding: 2rem;
  line-height: 1.5rem;
  text-align: justify;
}
@media screen and (max-width: 1115px) {
  .projects-container .project-info-description p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 930px) {
  .projects-container .project-info-description p {
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 1.2rem;
  }
}
.projects-container .project-info-tech-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.projects-container .project-info-tech-list-item {
  color: #a8b2d1;
  font-family: var(--font-raleway);
  background-color: #171718;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  font-size: 13px;
}
.projects-container .project-info-links {
  font-size: 22px;
  display: flex;
  gap: 1rem;
}
.projects-container .project-info-links-item {
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-container .project-info-links-item-link {
  padding: 10px;
  color: #a8b2d1;
  transition: 0.3s ease-in-out;
  outline: 2px dashed transparent;
}
.projects-container .project-info-links-item-link:hover {
  color: #f86f03;
}
.projects-container .project-info-links-item-link:focus {
  outline-color: #f86f03;
  transform: translateY(-4px);
  color: #f86f03;
}
.projects-container .project:nth-of-type(even) {
  justify-content: flex-start;
}
@media screen and (max-width: 1180px) {
  .projects-container .project:nth-of-type(even) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.projects-container .project:nth-of-type(even) .project-image {
  right: 0;
  left: initial;
}
@media screen and (max-width: 425px) {
  .projects-container .project:nth-of-type(even) .project-image {
    right: unset;
  }
}
.projects-container .project:nth-of-type(even) .project-info {
  align-items: flex-start;
}
.projects-container .project:nth-of-type(even) .project-info-description p {
  text-align: start;
}

.contact {
  margin: 15rem auto;
}
.contact-c {
  max-width: 60%;
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 1203px) {
  .contact-c {
    max-width: unset;
  }
}
.contact-c-title {
  color: #f86f03;
  font-size: 16px;
  font-family: var(--font-fira);
  font-weight: 300;
}
.contact-c-title::before {
  counter-increment: title;
  content: "0" counter(title) ".";
  margin-right: 0.5rem;
  color: #f86f03;
}
.contact-c-sub-title {
  font-size: clamp(40px, 7vw, 80px);
  color: #ccd6f6;
  font-family: var(--font-raleway);
}
.contact-c-text {
  color: #8892b0;
  font-size: 18px;
  text-align: center;
  font-family: var(--font-raleway);
  font-weight: 600;
  letter-spacing: 0.07rem;
  line-height: 1.6rem;
}
@media screen and (max-width: 1028px) {
  .contact-c-text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .contact-c-text {
    font-size: 0.8rem;
  }
}
.contact form {
  max-width: 60%;
  margin: 3rem auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 100px);
  grid-template-areas: "firstName lastName" "email phone" "message message" "btn btn";
  /* touts les inputs qui n'ont pas de focus et qui'ils ont du text inside */
}
@media screen and (max-width: 1170px) {
  .contact form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 4rem);
    grid-template-areas: "firstName" "lastName" "email" "phone" "message" "btn";
  }
}
.contact form .ic1 {
  grid-area: firstName;
}
.contact form .ic2 {
  grid-area: lastName;
}
.contact form .ic3 {
  grid-area: email;
}
.contact form .ic4 {
  grid-area: phone;
}
.contact form .ic5 {
  grid-area: message;
  min-height: 13rem;
}
.contact form .ic6 {
  grid-area: btn;
  margin-top: 13rem;
}
.contact form #btn {
  margin-top: 10rem;
}
@media screen and (max-width: 1170px) {
  .contact form #btn {
    margin-top: 16rem;
  }
}
.contact form .errorMessage {
  text-align: center;
  margin: 1rem auto;
  min-width: 90%;
  background-color: rgb(213, 98, 98);
  height: 4rem;
  margin-top: -3.05rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: clamp(1.3rem, 2vw, 1.5rem);
  letter-spacing: 1px;
}
.contact form .inputContainer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: grid;
}
.contact form .ic6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact form .label {
  position: absolute;
  top: 2rem;
  left: 20px;
  color: rgba(169, 161, 161, 0);
  left: 1rem;
  transition: 0.3s;
  font-size: 1rem;
}
.contact form .input {
  resize: none;
  margin: 1rem 0;
  padding: 1rem 1rem;
  border: 2.5px solid #8892b0;
  opacity: 0.7;
  min-width: 100%;
  border-radius: 4px;
  outline: 0;
  background-color: transparent;
  border-radius: 1rem;
  color: #a8b2d1;
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
}
.contact form .input::-moz-placeholder {
  font-family: var(--font-fira);
  font-size: 16px;
  color: #a8b2d1;
}
.contact form .input::placeholder {
  font-family: var(--font-fira);
  font-size: 16px;
  color: #a8b2d1;
}
.contact form input {
  max-height: 3rem;
}
.contact form .btn {
  color: #a8b2d1;
  font-family: var(--font-fira);
  font-size: 16px;
}
.contact form .cut {
  position: absolute;
  width: 3rem;
  height: 0.5rem;
  top: 0.8rem;
  left: 0.6rem;
  display: none;
  background-color: #000000;
}
.contact form .cuttel {
  width: 5.2rem;
}
.contact form .cutpre {
  width: 4.2rem;
}
.contact form .cutmes {
  width: 4.4rem;
}
.contact form .input:focus-within {
  border-color: #f86f03;
}
.contact form .input:focus ~ .label {
  transform: translateX(0rem) translateY(-1.6rem);
  font-size: 0.9rem;
  color: #ccd6f6;
}
.contact form .input:focus::-moz-placeholder {
  color: transparent;
  transform: 0.1s;
}
.contact form .input:focus::placeholder {
  color: transparent;
  transform: 0.1s;
}
.contact form .input:not(:focus):not(:-moz-placeholder-shown) ~ .label {
  /*  color: transparent; */
  color: rgba(93, 92, 92, 0);
}
.contact form .input:not(:focus):not(:placeholder-shown) ~ .label {
  /*  color: transparent; */
  color: rgba(93, 92, 92, 0);
}
.contact form .input:focus ~ .cut {
  display: block;
}
.contact form .success {
  border: 2px solid rgb(38, 206, 38);
  transition: all 0.3s;
}
.contact form .failed {
  transition: all 0.4s;
  border: 2px solid rgb(218, 45, 45);
}

.loading-container {
  min-width: 100svw;
  min-height: 100svh;
  position: fixed;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.485);
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
}

.balls {
  display: flex;
}

.ball {
  width: 13px;
  height: 13px;
  background-color: #f86f03;
  border-radius: 50%;
  margin-left: 10px;
  animation: ball 0.5s infinite alternate;
}

.ball2 {
  animation-delay: 0.1s;
}

.ball3 {
  animation-delay: 0.2s;
}

@keyframes ball {
  to {
    transform: translateY(-10px);
  }
}
.loader {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.loader svg {
  max-height: 10rem;
  max-width: 10rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer .text-box p {
  font-family: var(--font-fira);
  line-height: 2rem;
  color: #f86f03;
  padding: 2rem 0;
}
.footer .text-box p span {
  color: #a8b2d1;
}/*# sourceMappingURL=index.css.map */